# core

> Fill in a module description here

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
def foo(): pass

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()

# Netflix catalogue

In [ ]:
# netflix_titles <- readr::read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-04-20/netflix_titles.csv')

In [ ]:
%load_ext autoreload
%autoreload 1
%config InlineBackend.figure_format = 'retina'
import datetime
import hashlib
import json
import os
import re
import sys
import time
import warnings

import ipywidgets as widgets
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
from matplotlib.ticker import FuncFormatter
from pandas.plotting import register_matplotlib_converters
from scipy.stats import norm

register_matplotlib_converters()
import seaborn as sns
from IPython.display import Markdown, display

sns.set()
sns.set_context("poster", font_scale=1.3)
plt.rcParams["figure.figsize"] = 10, 6
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.precision = 4
warnings.simplefilter(action="ignore", category=FutureWarning)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
raw = pd.read_csv(
    "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-04-20/netflix_titles.csv"
)

In [ ]:
def raw_to_clean(df_):
    df_ = (df_
        .assign(date_added=pd.to_datetime(df_["date_added"]))
        .assign(rating=df_['rating'].astype('category'))
        .assign(type=df_['type'].astype('category'))
    )
    shows = df_.query("type == 'TV Show'")
    movies = (df_
        .query("type != 'TV Show'")
#         .assign(duration=['duration'].str.split().str[0])
    )
    return shows, movies


shows, movies = raw_to_clean(raw)
shows.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...","Poland, United States",2018-11-30,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a naïve law..."
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,2019-05-17,2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,2019-03-20,2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."

In [ ]:
shows['duration'].value_counts()

1 Season      1608
2 Seasons      382
3 Seasons      184
4 Seasons       87
5 Seasons       58
6 Seasons       30
7 Seasons       19
8 Seasons       18
9 Seasons        8
10 Seasons       6
11 Seasons       3
13 Seasons       2
12 Seasons       2
15 Seasons       2
16 Seasons       1
Name: duration, dtype: int64

In [ ]:
# todo come back to this
shows['listed_in'].str.split(',', expand=True).tail(20)

,0,1,2
7767,International TV Shows,Romantic TV Shows,TV Dramas
7768,Dramas,International Movies,Romantic Movies
7769,Comedies,Dramas,International Movies
7770,Dramas,International Movies,Thrillers
7771,Documentaries,Sports Movies,None
7772,Children & Family Movies,Comedies,None
7773,Documentaries,International Movies,Music & Musicals
7774,Cult Movies,Dramas,Thrillers
7775,Anime Series,Kids' TV,None
7776,Children & Family Movies,Dramas,None
7777,Kids' TV,Korean TV Shows,TV Comedies
7778,Comedies,Horror Movies,None
7779,International TV Shows,Spanish-Language TV Shows,Stand-Up Comedy & Talk Shows
7780,Dramas,Independent Movies,International Movies
7781,Children & Family Movies,Comedies,None
7782,Dramas,International Movies,None
7783,Dramas,International Movies,Music & Musicals
7784,Documentaries,International Movies,Music & Musicals
7785,International TV Shows,Reality TV,None
7786,Documentaries,Music & Musicals,None